@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@source '../../../../node_modules/fumadocs-ui/dist/**/*.js';

.bg-noise {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noise)' opacity='0.4'/%3E%3C/svg%3E");
}

.shiny-text {
	color: #b5b5b5a4;
	background: linear-gradient(
		120deg,
		rgba(255, 255, 255, 0) 40%,
		rgba(255, 255, 255, 0.8) 50%,
		rgba(255, 255, 255, 0) 60%
	);
	background-size: 200% 100%;
	-webkit-background-clip: text;
	background-clip: text;
	display: inline-block;
	animation: shine 5s linear infinite;
}

@keyframes shine {
	0% {
		background-position: 100%;
	}

	100% {
		background-position: -100%;
	}
}

.shiny-text.disabled {
	animation: none;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fadeIn {
	opacity: 0;
	animation: fadeInUp 0.5s ease-out forwards;
}
