<script setup>
</script>

<template>
    <div class="grid grid-rows-[auto_1fr] h-full">
        <Header />
        <main class="overflow-y-auto">
            <slot />
        </main>
    </div>
</template>
