# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare text files
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.md text
*.yml text
*.yaml text
*.html text
*.css text
*.scss text
*.less text
*.svg text
*.xml text

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf
*.cmd text eol=crlf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.gz binary
*.zip binary
*.7z binary
*.tar binary

# Exclude files from language statistics
templates/* linguist-vendored
*.hbs linguist-language=Handlebars